<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>

      <nav class="top-nav">
        <div class="container">
          
          <div class="row">
            <div class="col-xs-12">
              <a href="/"><img src="http://www.soschildrensvillages.org.uk/logo.png"></a>
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </div>
          
        </div>
      </nav>
      
      <section class="home-banner">
        <div class="darker">
          <div class="container">
            <div class="row">
              <div class="col-xs-6 hero">
                <h1>We believe every child should grow up in a caring family</h1>
                <h3>100% of your sponsorship is used for the care of children</h3>
                <button type="button" class="btn btn-primary btn-lg">Sponsor a child today</button>
              </div>
              <div class="col-xs-3 col-xs-offset-3 side-nav">
                <div class="list-group">
                  <a href="#" class="list-group-item active">
                    SOS Children
                  </a>
                  <a href="#" class="list-group-item">About our Charity</a>
                  <a href="#" class="list-group-item">Sponsor a Child</a>
                  <a href="#" class="list-group-item">Our Work</a>
                  <a href="#" class="list-group-item">Get Involved</a>
                  <a href="#" class="list-group-item">News</a>
                  <a href="#" class="list-group-item">Donate</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="main home">
        <div class="container">
          
          <div class="row home-strapline">
            <div class="col-xs-12">
              <h2>Our work is possible thanks to child sponsors. <a href="#">Why is child sponsorship so special?</a></h2>
            </div>
          </div>
          
          <div class="row">
            
            <div class="col-xs-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Sponsor a Child today</h3>
                </div>
                <div class="panel-body">
                  <img src="http://www.soschildrensvillages.org.uk/images/teasers/sos-girls-3.jpeg">
                </div>
              </div>
            </div>
            
            <div class="col-xs-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">SOS Mothers</h3>
                </div>
                <div class="panel-body">
                  <img src="http://www.soschildrensvillages.org.uk/images/teasers/sos-family-1.jpeg">
                </div>
              </div>
            </div>
            
            <div class="col-xs-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Where we work</h3>
                </div>
                <div class="panel-body">
                  <img src="http://www.soschildrensvillages.org.uk/images/teasers/sos-villages-map.jpeg">
                </div>
              </div>
            </div>
            
          </div>
          
          <div class="row">
            <div class="col-sm-12">
              <h2>We believe every child should grow up in a caring family environment</h2>
              <p>Across the world, we try to achieve this in two ways.</p>
              <ul>
                <li>We prevent children ending up alone, abandoned or in institutions by supporting families through our community programmes.</li>
                <li>For children who have been orphaned and abandoned, we provide a loving home in an SOS Children's Village. We also provide quality education and healthcare.</li>
              </ul>
              <p>Our vision is “a loving home for every child”. Find out more about our unique approach to child sponsorship. Child sponsors have helped make us into the world’s largest charity for orphaned and abandoned children.</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <h2>Real child sponsorship</h2>
              <p>We need your support to provide care for children with no-one. They may have been street children, child soldiers or children orphaned by AIDS, war, poverty or natural disasters. We give these children a family home within an SOS Children’s Village. Today, more than 62,000 children are cared for in 545 Children’s Villages in 125 countries. By choosing to sponsor a child, you will ensure that a child who has lost their parents grows up in a safe and loving environment.</p>
              <p>For every child in an SOS family, we help ten children stay with their own family. Where family life is at risk (for example where parents have HIV/AIDS), we run programmes to help strengthen families and keep them together.</p>
              <p>We also support children and families during emergencies. For example, see the current Syria Emergency Appeal and the Typhoon Haiyan Emergency Appeal).</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <h2>Our working model</h2>
              <ul>
                <li>Small groups of lone children live with a caring SOS Mother. Together they live as an SOS family.</li>
                <li>Several of these SOS families group together to form a Children's Village. These special communities often have around 12 SOS families.</li>
                <li>If there is no adequate medical care, we provide it. If there is no school, we build one and provide quality education.</li>
                <li>Much of our work takes place in the wider community. Here, we work with local people to provide families the support and resources they need.</li>
              </ul>
              <p>You can be part of the life-changing charity work we do. By choosing to sponsor a child, you will ensure that a child who has lost their parents grows up in a safe and loving environment.</p>
              <p>Our strategic goal for the coming years is to give a million children a family for life. Of these, one-hundred thousand children will be given a new family and home in an SOS Children's Village. With our support, nine-hundred thousand children who might otherwise grow up on the street will be brought up by their own extended family. This vital work would be impossible without the assistance of our many kind supporters who choose to sponsor a child.</p>
            </div>
          </div>
          
        </div>
      </section>
      
      <section class="footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <p>Footer goes here.</p>
            </div>
          </div>
        </div>
      </section>

    </body>
</html>
